@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

    body{
	width: 375px;
	float: left;
	margin: 0;
	font-family: Helvetica;
	}
	body h1{
		font-size: 30px;
		color: #FFF;
		font-weight: bold;
		font-style: italic;
		line-height: 35px;
		margin: 0;
	}
	
	body h2{
		font-size: 15px;
		color: #3C3C3C;
		font-weight: normal;
		margin: 0;
		line-height: 24px;
	}
	body h3{
		font-size: 15px;
		color: #fff;
		font-weight: bold;
		margin: 0;
	}
	body h4{
		font-size: 15px;
		color: #BFBFBF;
		font-weight: normal;
		margin: 0;
	}
	body h5{
		line-height: 19px;
		font-size: 12px;
		color: #3c3c3c;
		font-weight: lighter;
		margin: 0;
	}
	body h6{
		font-size: 10px;
		margin: 0;
	}
	input{
		color: #3c3c3c;
		font-weight: normal;
		font-size: 15px;
		border: #BFBFBF solid 0.5px;
	}
	select{
		color: #BFBFBF;
		font-weight: normal;
		font-size: 15px;
		border: #BFBFBF solid 0.5px;
		height: 40px;
		width: 100%;
		border-radius: 0;
		background-color: #fff;
	}
	
	









	
	::-webkit-input-placeholder 
		{ /* Chrome/Opera/Safari */
	  color: #BFBFBF;
	  font-weight: lighter;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: #BFBFBF;
	    font-weight: lighter;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
	    color: #BFBFBF;
	    font-weight: lighter;
	}
	.top_content{
		float: left;
		width: 100%;
		height: 88px;
		
	}
	.status_bar{
		float: left;
		width: 100%;
		height: 44px;
		/*background-color: #ccc;*/
	}
	.main_bar{
		float: left;
		width: 100%;
		height: 44px;
	}
	.main_content{
		float: left;
		width: 100%;
		height: 641px;
		/*background-color: #eee;*/
	}
	.bottom_content{
		float: left;
		width: 100%;
		height: 83px;
		/*background-color: #ccc;*/
	}
	.tab{
		float: left;
		width: 100%;
		height: 83px;
		z-index: 3;
		background: #FFFFFF;
		box-shadow: 0 0 3px 0 rgba(213,213,213,0.50);
		}
	.buttom_main {
	    width: 295px;
	    height: 40px;
	    border-radius: 20px;
	    background-color: #FFCC00;
	    margin: 0 auto;
	    margin-top: 5px;
	}
	.buttom_main a {
	    color: #fff;
	    font-weight: bold;
	    text-decoration: none;
	    text-align: center;
	    width: 295px;
	    float: left;
	    margin: 0 auto;
	    margin-top: 12px;
	}
	.buttom_white {
	    width: 295px;
	    height: 40px;
	    border-radius: 20px;
	    background-color: #fff;
	    margin: 0 auto;
	    margin-top: 5px;
	}
	.buttom_white a {
	    color: #FFCC00;
	    font-weight: bold;
	    text-decoration: none;
	    text-align: center;
	    width: 295px;
	    float: left;
	    margin: 0 auto;
	    margin-top: 12px;
	}
	.buttom_yellow {
	    width: 295px;
	    height: 40px;
	    border-radius: 20px;
	    background-color: #FFCC00;
	    margin: 0 auto;
	    margin-top: 5px;
	}
	.buttom_yellow a {
	    color: #fff;
	    font-weight: bold;
	    text-decoration: none;
	    text-align: center;
	    width: 295px;
	    float: left;
	    margin: 0 auto;
	    margin-top: 12px;
	}
	/*--iconpage start--*/

	.iconspage{
		float: left;
		width: 100%;
		background: url(images/iphonepage.PNG);
		background-size: cover;
		height: 812px;
	}
	.iconspage-icon{
		float: left;
		margin-left: 62px;
		margin-top: 473px;
	}
	
	/*--iconpage ends--*/

	/*--welcome_1 start--*/

	.welcome_1{
		float: left;
		width: 375px;
		height: 812px;
		background-color: #FFF;
	}
	.welcome_1 img{
		float: left;
		width: 100%;
	}
	.welcome_1_top{
		width: 100%;
		height: 729px;
	}
	.welcome_1_logo {
		float: left;
		width: 100%;
		margin-top: 284px;
		margin-left: 118px;
	}
	.welcome_1_logo img{
		width: 109px;
		margin: 0 auto;
	}
	.welcome_slo_container{
		width: 100%;
		float: left;
		margin-top: 60px;
	}
	.welcome_1_slogan {
	  	float: none;
		margin: 0 auto;
		width: 335px;
	}
	.welcome_1_slogan img{
		float: left;
	    width:100%;

	}
	.welcome_1_bottom{
		float: left;
		width: 100%;
		text-align: center;
		height: 83px;
	}
	.welcome_1_bottom h6{
		font-weight: lighter;
	}
	/*--welcome_1 end--*/

	/*--welcome_2 start--*/
	.welcome_2{
		float: left;
		width: 375px;
		height: 812px;
	}
	.welcome_input{
		float: left;
		width: 100%;
		margin-top: 222px	
	}
	.welcome_input_container{
		width: 295px;
		margin: 0 auto;
		float: none;
	}
	.welcome_2_email{
		float: left;
		margin-bottom: 30px;
		height: 30px;
		border-bottom: #3c3c3c solid 1px;
	}
	.welcome_2_password{
		float: left;
		height: 30px;
		border-bottom: #3c3c3c solid 1px;
		margin-bottom: 50px;
	}
	.welcome_input h2{
		float: left;
		width: 70px;
		margin-top: 10px;
	}
	.welcome_input input{
		float: right;
		width: 221px;
		height: 30px;
		background-color: transparent;
		border:none;
		color: #3C3C3C;
		font-size: 15px;
		padding-left: 2px;
		padding-right: 2px;

	}
	.welcome_2_buttom{
		float: left;
		width: 100%;
	}
	.welcome_join{
		text-align: center;
		width: 100%;
		float: left;
	}
	.welcome_join a{
		color: #3C3C3C;
		text-decoration: none;
		margin-top: 20px;
		float: left;
		width: 100%;
	}
	
	/*--welcome_2 end--*/

	/*--onboarding_1 start--*/
	.onboarding_1{
		width: 375px;
		height: 812px;
		background-color: #FFCC00;
	}
	.arrow_back{
		float: left;
		width: 12px;
		height: 21px;
		padding-top:11px;
		margin-left: 10px;
	}
	.onboarding_top{
		height: 128px;
		margin-top: 72px;
		width: 295px;
		padding-left: 40px;
		padding-right: 40px;
		float: left;
		
	}
	.onboarding_top h1 {
	    padding: 0;
	    margin-top: 15px;
		font-family: HelveticaNeue-BoldItalic;
	}    
	.onboarding_mid{
		height: 44px;
		width: 295px;
		padding-left: 40px;
		padding-right: 40px;
		float: left;
	}
	.onboarding_bot{
		height: 40px;
		width: 295px;
		padding-left: 40px;
		padding-right: 40px;
		float: left;
	
	}
	.onboarding_bot input{
		float: left;
		width: 100%;
		height: 100%;

	}
	.onboarding_1 input{
		border:none;
	}
	.onboarding_1_buttom{
		float: left;
		width: 100%;
		background-color:#eee; 
	}

	/*--onboarding_1 end--*/


	/*--onboarding_2 start--*/
	.photoupload{
		float: left;
		width: 100%;
		height: 200px;
		border:#BFBFBF 0.5px solid;
	}
	.photpuploadicon{
		width: 40px;
		margin: 0 auto;
		margin-top: 80px;
	}
	.onboarding_bot h4{
		width: 100%;
		text-align: center;
		margin-top: 20px;
		float: left;
	}
	
	/*--onboarding_2 end--*/

	/*--onboarding_3 start--*/
	

	/*--onboarding_3 end--*/
	/*--onboarding_5 start--*/
	/*.onboarding_5{
		float: left;
		width: 375px;
		height: 812px;
	}*/
	.onboarding_bot h2{
		color: #0072C6;
		font-family: HelveticaNeue-Light;
		line-height: 25px;
		text-decoration: underline;
		margin-top: 20px;

	}

	/*--onboarding_5 end--*/
	

	/*--onboarding_6 start--*/
	
	.onboarding_6{
		float: left;
		width: 375px;
		background: url(images/emailverify.PNG);
		background-size: cover;
		height: 812px;
	}
	.verify_6{
		margin-top: 209px;
	}
	/*--onboarding_6 end--*/

	/*--onboarding_7 start--*/
	
	.onboarding_7{
		float: left;
		width: 375px;
		height: 812px;
		
	}
	.verify_6{
		margin-top: 209px;
	}
	.onboarding_7 h1{
		color: #3c3c3c;
	}
	/*--onboarding_7 end--*/

	/*--onboarding_8 start--*/
	.onboarding_8 h5{
		color: #BFBFBF;
		margin-top: 30px;
		float: left;
	}
	/*--onboarding_8 end--*/

	/*--onboarding_10 start--*/
	.onboarding_10{
		width: 375px;
		height: 812px;
		background-color: #FFCC00;
		float: left;

	}
	.onboarding_10 h1{
		line-height: 35px;
	}
	.onboarding_10 input{
		border:none;
	}
	/*--onboarding_10 end--*/

	/*--onboarding_21 start--*/
	.avatar{
		float: left;
		width: 100%;
		height: 70px;
	}
	.avatar h5{
		float: left;
		margin: 1.5px;
		margin-top: 0;
	}
	.skin_tone {	
		float: left;
	}
	.skin_tone h5{
		margin-left: 0;
		border-bottom: 2px solid #3c3c3c;
	}
	
	.avator_user{
		float: left;
		width:100%;
		height: 140px;
		text-align: center;
	}
	.avator_user img{
		width: 90px;
		float: none;
		margin: 0 auto;
	}
	
	.skin_1{
		float: left;
		width:34px;
		height: 34px;
		background-color: #FFD4AE;
		border-radius: 17px;
		margin-right: 15.5px;
	}
	.skin_2{
		float: left;
		width:34px;
		height: 34px;
		background-color: #FFCC99;
		border-radius: 17px;
		margin: 15.5px;
		margin-top: 0;
	}
	.skin_3{
		float: left;
		width:34px;
		height: 34px;
		background-color: #E0AA79;
		border-radius: 17px;
		margin: 15.5px;
		margin-top: 0;
	}
	.skin_4{
		float: left;
		width:34px;
		height: 34px;
		background-color: #AD651C;
		border-radius: 17px;
		margin: 15.5px;
		margin-top: 0;
	}
	.skin_5{
		float: left;
		width:34px;
		height: 34px;
		background-color: #865B2F;
		border-radius: 17px;
		margin-left: 15.5px;
	}
	.color h5{
		margin-right: 0;
	}

	/*--onboarding_21 end--*/

	/*--onboarding_22 start--*/
	.skin_tone_2 {	
		float: left;
	}
	.skin_tone_2 h5{
		margin-left: 0;
	}
	.color_2 {
		border-bottom: 2px solid #3c3c3c;
		float: left;
	}

	/*--onboarding_22 end--*/

	/*--onboarding_23 start--*/
	.onboarding_mid h1{
		color: #947702;
	}
	.onboarding_23{
		width: 375px;
		height: 812px;
		background-color: #FFCC00;
		float: left;

	}

	/*--onboarding_23 end--*/

	/*--discover_1 start--*/

	.city_select{
		float: left;
		width: 100px;
		padding-left: 10px;
		height: 100%;
	}
	.city_select h2{
		margin-top: 12px;
		float: left;
	}
	.city_select img {
	    margin: 0;
	    padding: 0;
	    margin-top: 22px;
	    margin-left: 5px;
	}
	.tag_search{
		float: left;
		width: 255px;
		margin-right: 10px;
		height: 30px;
		margin-top: 7px;
		margin-bottom: 7px;
		border-radius: 15px;
		background-color: #F7F7F7;
	}
	.search_container{
		float: left;
	}
	.search_container input{
		height: 30px;
		padding: 0;
		border:none;
		padding-left: 10px;
		background-color: transparent;
		width: 200px;
		float: left;
	}
	.search_container img{
		width: 18px;
		height: 18px;
		float: left;
		margin-left: 10px;
		margin-top: 6px;

	}
	.tags{
		float: left;
		height: 40px;
		width: 355px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.tags h2{
		margin-top: 10px;
	}
	.top_content_main{
		float: left;
		width: 100%;
		height: 88px;
		background-color: #FFF;
		box-shadow: 0 0 3px 0 rgba(213,213,213,0.50);
		
	}
	.main_content_main{
		float: left;
		width: 100%;
		height: 641px;
		background-color: #F7F7F7;
	}
	.discover_card{
		width: 335px;
		height: 500px;
		margin: 20px;
		float: left;
		margin-top:0px;
		margin-bottom: 10px;
	}
	.card{
		background: #FFFFFF;
		box-shadow: 0 2px 15px 0 rgba(0,0,0,0.12);
		border-radius: 20px;
		height: 100%;
		width: 100%;
	}
	.event_1{
		float: left;
		width:100%;
		height: 100%;
	}
	.card_img{
		float: left;
		width: 100%;
		height: 260px;
	}
	.card_img{
		height: 260px;
		width: 335px;
		border-radius: 20px 20px 0 0;
	}
	.card_img img{
		float: left;
		height: 100%;
	}
	.card_bot{
		float:left;
		width: 295px;
		height: 210px;
		margin: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.send{
		width: 100%;
		float: left;
		height: 23px;
	/*	margin-top: 5px;
		margin-bottom: 5px;*/

	}
	.send img{
		float: left;
		background: #fff;
		height: 23px;
		width: 26px;
		padding-left: 270px;
	}
	.event_info{
		float: left;
		width: 100%;
		height: 70px;
	}
	.date{
		float: left;
		width: 40px;
		height: 60px;
		margin-top: 3px;
	}
	.date h3{
		font-size: 15px;
		color: red;
		font-weight: lighter;
		width: 100%;
		margin-left: 3px;
	}
	.date h1{
		color: #3c3c3c;
		font-style: normal;
		font-weight: normal;
		margin-top: 3px;
		float: left;
		width: 100%;
	}
	.event_right{
		float: left;
		width: 235px;
		margin-left: 20px;
	}
	.event_right h2{
		font-weight: bold;
		width: 100%;
		float: left;
	}
	.card h5{
		color: #969696;
		font-weight: lighter;
	}
	.event_discript{
		float: left;
		width: 100%;
		margin-top: 10px;
		line-height: 19px;
	}
	.decide{
		float: left;
		width: 240px;
		margin-left: 67.5px;
		height: 80px;
		margin-top: 0;
	}
	.bottom_content_main{
		float: left;
		width: 100%;
		height: 83px;
		background-color: #fff;
	}
	.decide_icon{
		border-radius: 30px;
		background-color: #fff;
		box-shadow: 0 0 8px 0 rgba(240,240,240,0.50);
		height: 60px;
		width: 60px;
		float: left;
		margin: 10px;
	}
	.decide_1 img{
		margin-left: 17px;
		margin-top: 17px;
	}
	.decide_2 img{
		margin-left: 14px;
		margin-top: 29px;
	}
	.decide_3 img{
		margin-left: 13px;
		margin-top: 18px;
	}
	.tab h5{
		text-align: center;
	}
	.tab_container_c{
		float: left;
		width: 93.75px;
		height: 100%;
	}
	.tab_container_c h5{
		color: #ffcc00;
		font-weight: normal;
		width: 100%;
		float: left;
	}
	.tab_container{
		float: left;
		width: 93.75px;
		height: 100%;
		opacity: 0.4;
	}
	.tab_container h5{
		color: #000;
		font-weight: lighter;
		opacity: 0.4;
		width: 100%;
		float: left;
	}

	.tab_icon_1{
		width: 19px;
		margin: 0 auto;
	}
	.tab_icon_1 img{
		float: left;
		width: 100%;
		margin-top: 8px;
	}
	.tab_icon_2{
		width: 21px;
		margin: 0 auto;
	}
	.tab_icon_2 img{
		float: left;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 1px;
	}
	.tab_icon_3{
		width: 17px;
		margin: 0 auto;
	}
	.tab_icon_3 img {
	    float: left;
	    width: 100%;
	    margin-top: 10px;
	    margin-bottom: 3px;
	}
	.tab_icon_4{
		width: 16px;
		margin: 0 auto;
	}
	.tab_icon_4 img {
	    float: left;
	    width: 100%;
	    margin-top: 10px;
	    margin-bottom: 3px;
	}

	/*--discover_1 end--*/


	/*--discover_7 start--*/

	.discover_7 h1{
		float: left;
		width: 100%;
		color: #3c3c3c;
		font-style: normal;
		font-size: 20px;
		line-height: 24px;
		margin-top: 3px;
	}
	.event_paired_info h2{
		color: #969696;
		font-weight: normal;
		line-height: 22px;
	}

	.event_paired_info{
		float: left;
		margin-top: 10px;
	}
	.discover_paired{
		width: 335px;
		height: 470px;
		margin: 20px;
		float: left;
		margin-top:0px;
		margin-bottom: 10px;
	}
	.date_paired{
		float: left;
		width: 30px;
		height: 60px;
		margin-top: 3px;
		margin-left: 10px;
	}
	.date_paired h3{
		font-size: 15px;
		color: red;
		font-weight: lighter;
		width: 100%;
	}
	.date_paired h1{
		color: #3c3c3c;
		font-style: normal;
		font-weight: normal;
		margin-top: 3px;
		float: left;
		width: 100%;
	}
	.event_goer{
		float: left;
		width: 295px;
		height: 100px;
	}
	.event_goer_left{
		float: left;
		width: 120px;
		height: 100%;
	}
	.event_goer_left img{
		margin-top: 20px;
		margin-left: 40px;
	}
	.event_goer_right{
		float: left;
		width: 175px;
	}
	.event_goer_right h1{
		float: left;
		width: 100%;
		margin-top: 20px;
	}
	.event_goer_right h6{
		float: left;
		width: 100%;
		font-weight: lighter;
		color: #969696;
	}
	.match_again{
		float: left;
		width: 100%;
		height: 30px;
	}
	.match_again h6{
		float: left;
		width: 100%;
		text-align:  center;
		color: #969696;
		font-weight: lighter;
		margin-top: 15px;
	}
	.tosee{
		float: left;
		width: 335px;
		margin-left: 20px;
		text-align: center;	
	}
	.tosee h2{
		margin-top:10px; 
		font-weight: normal;
	}
	.discovering{
		float: left;
		width: 163px;
		height: 40px;
		background-color: #fff;
		margin-top: 20px;
		border-radius: 20px;
		box-shadow: 0 0 8px 0 rgba(240,240,240,0.50);

	}
	.sayhi{
		float: left;
		margin-left: 9px;
		width: 163px;
		height: 40px;
		background-color: #ffcc00;
		margin-top: 20px;
		border-radius: 20px;
		box-shadow: 0 0 8px 0 rgba(240,240,240,0.50);

	}
	.sayhi h2{
		color: #fff;
	}
	.tosee a{
		text-decoration: none;
	}




	/*--discover_7 end--*/
	
	/*--homepage_tag start--*/
	.tag_input{
		float: left;
		width: 355px;
		margin: 10px;
		height: 60px;

	}
	.tag_input input{
		font-size: 30px;
		border:none;
		color: #3c3c3c;
		height: 40px;
		margin-top: 10px;
		font-weight: bold;

	}
	.tag_select{
		float: left;
		width: 100%;
	}
	.tag_select h2{
		padding: 10px;
	}
	.tag_1st{
		float: left;
		width: 375px;
		padding-bottom: 10px;
	}
	.tag_2nd{
		float: left;
		width: 355px;
		padding-bottom: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	.tag_2nd h2{
		height: 23px;
		border-radius: 13px;
		border:solid 1px #3c3c3c ;
		float: left;
		padding:0px;
		padding-left: 5px;
		padding-right: 5px;
		margin-right: 10px;
		padding-bottom: -3px;

	}
	.tag_1st img{
		float: left;
		width: 20px;
		padding: 10px;

	}
	.tag_1st h2{
		float: left;
		padding-left: 0;
	}
	/*--homepage_tag end--*/

	/*--chat_list start--*/
	.chat_search{
		float: left;
		width: 355px;
		margin-right: 10px;
		height: 30px;
		margin-top: 7px;
		margin-bottom: 7px;
		border-radius: 15px;
		background-color: #F7F7F7;
		margin-left: 10px;
		text-align: center;
	}

	.chat_search img{
		float: left;
		width: 20px;
	}
	.chat_search input{
		width: 325px;
		float: left;
		text-align: center;
	}
	.chat_search img{
		float: left;
		margin-top: 5px;
		margin-left: -130px;
	}
	.chat_list_users{
		float: left;
		width: 100%;
		background-color: #fff;
		height: 641px;
		overflow: scroll;
	}
	.chat_list_1{
		width: 355px;
		margin-left: 10px;
		margin-right: 10px;
		height: 100px;
		border-bottom: #d6d6d6 0.5px solid;
	}
	.chat_list_photo{
		float: left;
		width: 60px;
		height: 60px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 20px;
	}
	.chat_list_photo img{
		float: left;
		width: 100%;
	}
	.chat_list_content{
		float: left;
		width: 275px;
		margin-top: 20px;
	}
	.chat_list_content h2{
		font-weight: bold;
		float: left;
		width: 200px;
		line-height: 24px;
	}
	.chat_list_content h5{
		font-weight: normal;
	}
	.chat_list_content h4{
		font-weight: normal;
		font-size: 12px;
		line-height: 20px;
	}
	.chat_list_content h3{
		font-size: 12px;
		font-weight: lighter;
		float: right;
		width: 75px;
		line-height: 24px;
		text-align: right;
		color: #A3a3a3;

	}
	/*--chat_list end--*/

	/*--share_list start--*/
	.share_list_1{
		width: 355px;
		margin-left: 10px;
		margin-right: 10px;
		height: 80px;
		border-bottom: #d6d6d6 0.5px solid;
	}
	.share_list_photo{
		float: left;
		width: 40px;
		height: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 20px;
		margin-left: 72px;
	}
	.share_list_photo img{
		float: left;
		width: 100%;
	}
	.share_list_1 h2{
		margin-top: 27px;
		float: left;
		font-weight: bold;
		margin-left: 20px;
	}
	.share_list_users{
		float: left;
		width: 100%;
		background-color: #fff;
		height: 724px;
		overflow: scroll;
	}
	/*--share_list end--*/

	/*--chat_direct_1 start--*/

	.chat_title{
		float: left;
		width: 327px;
		height: 100%;
	}
	.chat_title h2{
		float: left;
		width: 180px;
		text-align: right;
		margin-top: 10px;
	}
	.chat_title h3{
		float: left;
		width: 5px;
		height: 5px;
		background-color: #4ECF65;
		margin-top: 21px;
		margin-left: 10px;
		border-radius: 2.5px;
	}
	.chat_title h4{
		float: left;
		width: 5px;
		height: 5px;
		margin-top: 17px;
		margin-left: 5px;
		font-size: 10px;
		color: #3c3c3c;
	}
	.chat_direct_info{
		width: 345px;
		height: 88px;
		float: left;
		margin:10px;
		box-shadow: 0 2px 15px 0 rgba(0,0,0,0.12);
		border-radius: 20px;
		background-color: #fff;
		padding-left: 10px;
	}
	.chat_direct_info h4{
		float: left;
		width: 300px;
		font-size: 12px;
		margin-left: 10px;
		color: #3c3c3c;
	}
	.star{
		float: left;
		width: 335px;
		padding: 5px;
		padding-top: 15px;
	}
	.star h4{
		font-weight: bold;
	}
	.star img{
		width: 15px;
		float: left;
	}
	.time{
		float: left;
		width: 335px;
		padding: 5px;
	}
	.time img{
		width: 12px;
		float: left;
		margin-left: 1.5px;
	}
	.site{
		float: left;
		width: 335px;
		padding: 5px;
		padding-bottom: 10px;
	}
	.site img{
		width: 10px;
		float: left;
		margin-left: 2.5px;
		margin-top: -2px;
	}
	.messages{
		float: left;
		width: 355px;
		margin-right: 10px;
		margin-left: 10px;
		overflow: scroll;
		height: 533px;

	}
	.messages img{
		float: left;
		width: 40px;
	}
	.messages_2 img{
		float: left;
		width: 40px;
	}
	.messages_3 img{
		float: left;
		width: 40px;
	}
	.message_receive{
		float: left;
		width: 100%;
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.messages h5{
		float: left;
		line-height: 20px;
		padding-top: 7px;
		padding-bottom: 7px;
		background-color: #fff;
		border-radius: 12px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 10px;
		border:solid #d6d6d6 0.5px;
		margin-right: 10px;
		font-size: 15px;
		font-weight: normal;

	}
	.messages_2 h5{
		float: left;
		line-height: 20px;
		padding-top: 7px;
		padding-bottom: 7px;
		background-color: #fff;
		border-radius: 12px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 10px;
		border:solid #d6d6d6 0.5px;
		margin-right: 10px;
		font-size: 15px;
		font-weight: normal;
	}
	.messages_3 h5{
		float: left;
		line-height: 20px;
		padding-top: 7px;
		padding-bottom: 7px;
		background-color: #fff;
		border-radius: 12px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 10px;
		border:solid #d6d6d6 0.5px;
		margin-right: 10px;
		font-size: 15px;
		font-weight: normal;
	}
	.message_send{
		float: right;
		width: 100%;
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.message_send h5{
		float: right;
		background-color: #e6e6e6;

	}
	.message_send img{
		float: right;
	}

	.chat_map{
		float: left;
		width: 252px;
		height: 105px;
		margin: 10px;
		margin-top: 5px;
		
	}
	.chat_link{
		float: left;
		border:solid #d6d6d6 0.5px;
		border-radius: 12px;
		height: 100%;
		width: 100%;
		background-color: #fff;
	}
	.chat_link h4{
		margin: 10px;
		font-size: 12px;
		color: #3c3c3c;
		line-height: 14px;
		float: left;
		width: 100%;
	}
	.chat_map_2{
		float: right;
		width: 252px;
		height: 105px;
		margin: 10px;
		margin-top: 5px;
	}
	.map{
		float: left;
		width: 251px;
		height:57px;
		/*border-radius: 20px;
		border-radius: 20px;
		border:0.5px solid #D6d6d6;*/
	}
	.map img{
		float: left;
		width: 100%;
		height:57px;
		border-radius: 0 0 8px 8px;
		border:0.5px solid #D6d6d6;
	}
	.map_head img{
		margin-top: 7px;
	}
	.chat_send{
		float: left;
		width: 365px;
		height: 49px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.chat_send input{
		float: left;
		width: 235px;
		height: 30px;
		margin-left: 5px;
		margin-right: 5px;
		border-radius: 8px;
		border:#3c3c3c solid 1px;
		margin-top: 7px;
		
	}
	.chat_send img{
		float: left;
		width: 28px;
		margin: 5px;
		margin-top: 10.5px;
	}



	/*--chat_direct_1 end--*/

	/*--chat_direct_2 start--*/
	
	.bottom_content_main_2{
		float: left;
		width: 100%;
		height: 83px;
		background-color: #fff;
	}
	.tab_2{
		height: 189px;
		float: left;
		box-shadow: 0 0 3px 0 rgba(213,213,213,0.50);
	}
	.messages_2{
		float: left;
		width: 355px;
		margin-right: 10px;
		margin-left: 10px;
		overflow: scroll;
		height: 427px;

	}
	.main_content_main_2{
		float: left;
		width: 100%;
		height: 535px;
		background-color: #F7F7F7;
	}
	.chat_functions{
		float: left;
		width: 348px;
		background-color: #fff;
		margin-left: 13.5px;
		margin-right: 13.5px;
		margin-bottom: 10px;
		height: 80px;
	}

	.chat_function_items{
		width: 60px;
		height: 60px;
		margin: 13.5px;
		float: left;
	}
	.chat_function_items h6{
		float: left;
		width: 100%;
		text-align: center;
		font-weight: lighter;
		margin-top: 5px;
	}
	.chat_function_images{
		float: left;
		width: 60px;
		height: 60px;
		border-radius: 20px;
		background-color: #F7F7F7;
		text-align: center;
	}
	.chat_function_images img{
		margin-top: 22px;
	}
	/*.flow{
		float: left;
		width: 100%;
		height: 34px;
	}*/


	/*--chat_direct_2 end--*/

	/*--chat_direct_4 start--*/
	.bottom_content_main_3{
		float: left;
		width: 100%;
		height: 180px;
		background-color: #fff;
	}
	.tab_3{
		height: 180px;
		float: left;
		width: 100%;
		box-shadow: 0 0 3px 0 rgba(213,213,213,0.50);
	}
	.messages_3{
		float: left;
		width: 355px;
		margin-right: 10px;
		margin-left: 10px;
		overflow: scroll;
		height: 436px;

	}
	.main_content_main_3{
		float: left;
		width: 100%;
		height: 544px;
		background-color: #F7F7F7;
	}
	.tab_3 h2{
		line-height: 48px;
		color: #3c3c3c;
		text-align: center;
		font-weight: normal;
		border-bottom:solid #D6d6d6 0.5px;
	}

	.tab_3 h3{
		line-height: 49px;
		color: #3c3c3c;
		text-align: center;
		font-weight: normal;
	}
	.tab_3 a{
		text-decoration: none;
	}

	/*--chat_direct_4 end--*/

}


